<% provide(:title, "Sign up for beta access") %>
<div id="intro" class="clearFix">
<p>
	<ol>
		<li>Link your Dropbox</li>
		Takes less than 30 seconds. Box and Google Drive support coming soon.


		Save your files
		<li>Move legal documents, picture evidence, and other files to the `pictureproof` folder</li>
	</ol>
	We automatically hash your files and write their timestamped existence to the blockchain.
	<li>We do the rest</li>
</p>
<p></p>
</div>
	<%= render 'users/fan_form' %>
	<%= render 'users/artist_form' %>
